.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-color: #010317;
    color: white;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 80%;
    height: 100%;
    text-align: center;
}

.aboutText {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.aboutImages .aboutImage {
    position: relative;
}

.aboutImage p {
    opacity: 0.9;
    margin: 0;
}

.aboutImages {
    margin-bottom: 25px;
}

.aboutButton {
    width: 100%;
    height: 4vh;
}

.aboutButton button {
    text-align: center;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: transparent;
    border: 1px solid #0CC2D7;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #0CC2D7;
    font-weight: bold;
}
button a{
    color: #0CC2D7;
    text-decoration: none;
}
button a:hover{
    color: white;
}
.aboutButton button:hover  {
    background-color: #0CC2D7;
    color: white;
    transition: 0.5s;
}
.aboutButton button a:active {
    background-color: #0CC2D7;
    color: white;
    transition: 0.5s;
}
.aboutButton button :focus {
    outline: none;
}
.aboutButton button :disabled {
    background-color: #0CC2D7;
    color: white;
    transition: 0.5s;
}

@media screen and (max-width: 422px) {
    .about {
        height: auto;
        padding: 20px 0;
    }

    .aboutContainer {
        width: 90%;
        height: auto;
        text-align: center;
    }

    .aboutText {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .aboutImages {
        margin-bottom: 20px;
    }
    .aboutText h1{
        font-size: 18px;
    }

    .aboutImage p {
        font-size: 14px;
    }

    .aboutButton {
        height: auto;
        margin-top: 10px;
    }

    .aboutButton button {
        width: 90%;
        height: 40px;
        font-size: 14px;
    }
}
