.check{
    color: green;
}
.undov{
    color:red;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.information .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    text-align: center;
    position: relative;
}
.information h1{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-top: 20px;
    position: relative;
}
.containerText{
    position: absolute;
    flex-direction: column;
    display: flex;
    font-size: 12px;
    text-align: start;
    top: 10%;
}
.logotip{
    width: 100%;
    height: 80vh;
}

@media screen and (max-width: 422px) {
    .information {
        height: auto;
        padding: 20px 0;
    }

    .information .container {
        width: 95%;
        height: auto;
        padding-bottom: 20px;
    }

    .information h1 {
        font-size: 16px;
        margin-top: 10px;
    }

    .containerText {
        position: relative;
        font-size: 13px;
        text-align: start;
        margin-top: 10px;
        padding: 0 10px;
    }
    .logotip{
        position: absolute;
    }
    .logotip img {
        width: 100%;
        height: 90vh;
        position: absolute;
    }

    .check,
    .undov {
        font-size: 14px;
    }
}
